<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.todd.scorekeeper" android:versionName="1.2" android:versionCode="2">
	<application android:icon="@drawable/icon" android:label="ScoreKeeper">
		<activity android:name="net.todd.scorekeeper.MainPageActivity"
			android:label="ScoreKeeper" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="net.todd.scorekeeper.ManagePlayersActivity"
			android:screenOrientation="portrait" />
		<activity android:name="net.todd.scorekeeper.SetupGameActivity"
			android:screenOrientation="portrait" />
		<activity android:name="net.todd.scorekeeper.GameActivity"
			android:screenOrientation="portrait" />
		<activity android:name="net.todd.scorekeeper.HistoryActivity"
			android:screenOrientation="portrait" />
	</application>
<uses-sdk android:targetSdkVersion="8" android:minSdkVersion="8"></uses-sdk>
</manifest> 