<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.todd.scorekeeper" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name="net.todd.scorekeeper.MainPageActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="net.todd.scorekeeper.ManagePlayersActivity" />
		<activity android:name="net.todd.scorekeeper.PickPlayersActivity" />
		<activity android:name="net.todd.scorekeeper.OrderPlayersActivity" />
		<activity android:name="net.todd.scorekeeper.StartGameActivity" />
	</application>
</manifest> 